img {
    margin-left: 15px;
    margin-right: 8px;
}
p img{
    width: 20px;
}
h2, b{
    color: #0080ff;
}
th{
    padding-left: 20px;
}
.format{
    padding-left: 25px;
}
caption{
    margin-bottom: 15px;
}